SUPABASE_URL=https://bvlcyhcuneaphuletnqz.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_cVOV6WAoiqmw54hMLZCdMQ_YS2yF7uV
ADMIN_USER_ID=7ff37aab-19f3-46c0-8842-a28381902bca
ADMIN_LOGIN=milana
ADMIN_EMAIL=mind.style11@gmail.com
